<!-- -->
<launch>
  <arg name="output_frame" default="lidar_1" />
  <arg name="input0" default="/ns1/velodyne_points" />
  <arg name="input1" default="/ns2/velodyne_points" />
  <arg name="output" default="/points_raw" />

  <node pkg="points_preprocessor" type="points_concat_filter"
        name="points_concat_filter" output="log">
    <param name="output_frame" value="$(arg output_frame)" />
    <remap from="/lidar0/points_raw" to="$(arg input0)" />
    <remap from="/lidar1/points_raw" to="$(arg input1)" />
    <remap from="/points_concat" to="$(arg output)" />
  </node>
</launch>
